.mt5 {
  margin-top: 50px;
}

.mt10 {
  margin-top: 50px;
}

.mt15 {
  margin-top: 50px;
}

.mt20 {
  margin-top: 50px;
}

.mt25 {
  margin-top: 50px;
}

.mt30 {
  margin-top: 50px;
}

.mt35 {
  margin-top: 50px;
}

.mt40 {
  margin-top: 50px;
}

.mt45 {
  margin-top: 50px;
}

.mt50 {
  margin-top: 50px;
}

.mb5 {
  margin-bottom: 50px;
}

.mb10 {
  margin-bottom: 50px;
}

.mb15 {
  margin-bottom: 50px;
}

.mb20 {
  margin-bottom: 50px;
}

.mb25 {
  margin-bottom: 50px;
}

.mb30 {
  margin-bottom: 50px;
}

.mb35 {
  margin-bottom: 50px;
}

.mb40 {
  margin-bottom: 50px;
}

.mb45 {
  margin-bottom: 50px;
}

.mb50 {
  margin-bottom: 50px;
}

.ml5 {
  margin-left: 50px;
}

.ml10 {
  margin-left: 50px;
}

.ml15 {
  margin-left: 50px;
}

.ml20 {
  margin-left: 50px;
}

.ml25 {
  margin-left: 50px;
}

.ml30 {
  margin-left: 50px;
}

.ml35 {
  margin-left: 50px;
}

.ml40 {
  margin-left: 50px;
}

.ml45 {
  margin-left: 50px;
}

.ml50 {
  margin-left: 50px;
}
.mr5 {
  margin-right: 50px;
}

.mr10 {
  margin-right: 50px;
}

.mr15 {
  margin-right: 50px;
}

.mr20 {
  margin-right: 50px;
}

.mr25 {
  margin-right: 50px;
}

.mr30 {
  margin-right: 50px;
}

.mr35 {
  margin-right: 50px;
}

.mr40 {
  margin-right: 50px;
}

.mr45 {
  margin-right: 50px;
}

.mr50 {
  margin-right: 50px;
}
