@font-face {
  font-family: "gwicon";
  src: url("../fonts/gwicon.eot?eus2c0");
  src: url("../fonts/gwicon.eot?eus2c0#iefix") format("embedded-opentype"),
    url("../fonts/gwicon.ttf?eus2c0") format("truetype"),
    url("../fonts/gwicon.woff?eus2c0") format("woff"),
    url("../fonts/gwicon.svg?eus2c0#gwicon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="gwicon-"],
[class*=" gwicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "gwicon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gwicon-emi:before {
  content: "\e946";
}

.gwicon-fd:before {
  content: "\e945";
}

.gwicon-rd:before {
  content: "\e944";
}

.gwicon-astrology::after {
  content: "\e942";
  margin-left: -1em;
}

.gwicon-astrology:before {
  content: "\e943";
}

.gwicon-code-json:before {
  content: "\e941";
}

.gwicon-list-status:before {
  content: "\e93f";
}

.gwicon-lightbulb-variant-outline:before {
  content: "\e940";
}

.gwicon-check:before {
  content: "\e93e";
}

.gwicon-rupeee:before {
  content: "\e93d";
}

.gwicon-candlestick:before {
  content: "\e93b";
}

.gwicon-candlestick:after {
  content: "\e93c";
  margin-left: -1em;
}

.gwicon-home:before {
  content: "\e93a";
}

.gwicon-printer:before {
  content: "\e938";
}

.gwicon-format-clear:before {
  content: "\e939";
}

.gwicon-format-underline:before {
  content: "\e937";
}

.gwicon-content-cut:before {
  content: "\e924";
}

.gwicon-content-copy:before {
  content: "\e925";
}

.gwicon-redo:before {
  content: "\e926";
}

.gwicon-undo:before {
  content: "\e927";
}

.gwicon-format-paragraph:before {
  content: "\e928";
}

.gwicon-link:before {
  content: "\e929";
}

.gwicon-image:before {
  content: "\e92a";
}

.gwicon-format-header-6:before {
  content: "\e92b";
}

.gwicon-format-header-5:before {
  content: "\e92c";
}

.gwicon-format-header-4:before {
  content: "\e92d";
}

.gwicon-format-header-3:before {
  content: "\e92e";
}

.gwicon-format-header-2:before {
  content: "\e92f";
}

.gwicon-format-header-1:before {
  content: "\e930";
}

.gwicon-format-align-right:before {
  content: "\e931";
}

.gwicon-format-align-left:before {
  content: "\e932";
}

.gwicon-format-align-justify:before {
  content: "\e933";
}

.gwicon-format-align-center:before {
  content: "\e934";
}

.gwicon-format-italic:before {
  content: "\e935";
}

.gwicon-format-bold:before {
  content: "\e936";
}

.gwicon-menu:before {
  content: "\e923";
}

.gwicon-tablet-ipad:before {
  content: "\e91f";
}

.gwicon-cellphone-iphone:before {
  content: "\e920";
}

.gwicon-monitor:before {
  content: "\e921";
}

.gwicon-laptop-windows:before {
  content: "\e922";
}

.gwicon-twitter:before {
  content: "\e91c";
}

.gwicon-instagram:before {
  content: "\e91d";
}

.gwicon-facebook-messenger:before {
  content: "\e91e";
}

.gwicon-behance:before {
  content: "\e919";
}

.gwicon-dribbble:before {
  content: "\e91a";
}

.gwicon-codepen:before {
  content: "\e91b";
}

.gwicon-code-tags:before {
  content: "\e914";
}

.gwicon-format-letter-case:before {
  content: "\e900";
}

.gwicon-file-word-box-outline:before {
  content: "\e901";
}

.gwicon-responsive:before {
  content: "\e902";
}

.gwicon-format-text:before {
  content: "\e903";
}

.gwicon-qrcode:before {
  content: "\e904";
}

.gwicon-google-ads:before {
  content: "\e905";
  position: relative;
  z-index: 9;
}

.gwicon-google-ads:after {
  content: "\e915";
  margin-left: -1em;
}

.gwicon-google-ads-1:before {
  content: "\e918";
  margin-left: -1em;
}

.gwicon-language-javascript:before {
  content: "\e906";
}

.gwicon-chevron-right:before {
  content: "\e907";
}

.gwicon-vector-curve:before {
  content: "\e908";
}

.gwicon-code-braces-box:before {
  content: "\e909";
}

.gwicon-code-braces:before {
  content: "\e90a";
}

.gwicon-video:before {
  content: "\e90b";
}

.gwicon-pencil:before {
  content: "\e90c";
}

.gwicon-blogger:before {
  content: "\e90d";
}

.gwicon-brush:before {
  content: "\e90e";
}

.gwicon-xml:before {
  content: "\e90f";
}

.gwicon-youtube:before {
  content: "\e910";
}

.gwicon-google-drive:before {
  content: "\e911";
}

.gwicon-google-drive:after {
  content: "\e916";
  margin-left: -1em;
}

.gwicon-google-drive-1:before {
  content: "\e917";
  margin-left: -1em;
}

.gwicon-language-css3:before {
  content: "\e912";
}

.gwicon-language-html5:before {
  content: "\e913";
}
