html,
body {
  height: 100%;
}

body {
  font-family: "object_sans", Arial, Helvetica, sans-serif;
  background-color: #f6f7fb;
}

header {
  width: 100%;
  height: 65px;
  border-bottom: 1px solid $border;
  padding: 0 20px;
  background-color: #ffffff;

  .logo {
    width: 120px;
    height: 65px;
    float: left;
    a {
      width: 100%;
      height: 65px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 120px;
        display: block;
      }
    }
  }

  nav {
    float: right;

    > a {
      float: left;
      text-decoration: none;
      color: #000000;
      padding: 19.5px 10px;
      display: none;

      i {
        font-size: 25px;
      }
    }

    ul {
      float: left;

      li {
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        display: inline-block;

        a {
          line-height: 23px;
          font-size: 16px;
          color: #000;
          text-decoration: none;
          font-weight: 400;

          i {
            font-size: 18px;
            position: relative;
            top: 2px;
          }
        }
      }
    }
  }
}

main {
  width: 100%;
  float: left;
  min-height: calc(100% - 160px);
}

.banner {
  width: 100%;
  float: left;

  img {
    width: 100%;
    position: relative;
    bottom: -3px;
  }
}

.bnrbg {
  background-color: #fed600;
}

.tolbg {
  background: #b92b27;
  background: -webkit-linear-gradient(to right, #1565c0, #b92b27);
  background: linear-gradient(to right, #1565c0, #b92b27);
}

.htmlbg {
  background: #16bffd;
  background: -webkit-linear-gradient(to right, #cb3066, #16bffd);
  background: linear-gradient(to right, #cb3066, #16bffd);
}

.mnybg {
  background: #1a2a6c;
  background: -webkit-linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
  background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
}

.gentit {
  background: #c02425;
  background: -webkit-linear-gradient(to right, #f0cb35, #c02425);
  background: linear-gradient(to right, #f0cb35, #c02425);
}

.toltit {
  background: #6441a5;
  background: -webkit-linear-gradient(to right, #2a0845, #6441a5);
  background: linear-gradient(to right, #2a0845, #6441a5);
}

.section {
  width: 100%;
  float: left;

  &.abt {
    margin: 10px 0;
    padding: 2% 0;
    background-color: #f2f2f2;
  }

  &.tools {
    background-color: #f6fcfe;
  }
}

.sechead {
  text-align: left;
  font-size: 45px;
  font-weight: 600;
}

.secprag {
  text-align: left;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 30px;
  color: #51596c;
}

.whdo {
  width: 100%;
  margin: 4% 0;
  padding: 20px;
  background-image: linear-gradient(
    133deg,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0) 100%
  );

  i {
    display: inline-block;
    margin: 0 auto;
    font-size: 24px;
    background-color: #fed600;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 25px;
  }

  h1 {
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: 400;
    padding-top: 20px;
  }

  p {
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 400;
    line-height: 28px;
    color: #3e3e3e;
    width: 80%;
  }
}

.tollnk {
  background-color: #ffffff;
  text-decoration: none;
  color: #000000;
  text-align: center;
  width: 100%;
  float: left;
  margin: 15px 0;
  padding: 20px;
  border-radius: 5px;

  &:hover {
    box-shadow: 0px 0px 4px 0px #dadada;
  }

  img {
    width: 100%;
  }

  i {
    font-size: 50px;
    display: inline;
    float: left;

    &.html {
      color: #ef642b;
    }

    &.css {
      color: #1870b0;
    }

    &.js {
      color: #f7df1d;
    }

    &.gogl {
      color: #08b425;
    }

    &.wrd {
      color: #1764c0;
    }

    &.resp {
      color: #ed5480;
    }

    &.ytube {
      color: #ff0000;
    }

    &.blog {
      color: #fe8100;
    }

    &.drive {
      &:before {
        color: #0d9660;
      }

      &:after {
        color: #f1ba42;
      }
    }

    &.drive1:before {
      color: #3178de;
    }

    &:nth-child(2) {
      display: inline;
    }

    &.candlestick {
      &:before {
        color: #00b984;
      }

      &:after {
        color: #ff2d4b;
      }
    }
  }

  h2 {
    font-size: 16px;
    line-height: 3;
    width: 100%;
    text-align: left;
    display: block;
    float: left;
  }

  p {
    font-size: 12px;
    line-height: 1.2;
  }

  a {
    background-color: #fed600;
    text-decoration: none;
    color: #000000;
    display: inline-block;
    font-size: 12px;
    padding: 10px;
    border-radius: 2px;
  }
}

.pripol {
  background-color: #ffffff;
  text-decoration: none;
  color: #000000;
  text-align: center;
  width: 100%;
  float: left;
  margin: 15px 0;
  padding: 20px;
  border-radius: 5px;

  h1 {
    font-size: 16px;
    margin: 10px 0;
  }

  p {
    font-size: 14px;
    margin: 10px 0;
    text-align: left;
    line-height: 28px;

    b {
      font-weight: 600;
    }
  }
}

.woklnk {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 25px;
  float: left;
  width: 100%;

  &:hover {
    box-shadow: 0px 0px 4px 0px #dadada;
  }

  i {
    font-size: 45px;
    float: left;
    width: 100%;
    display: block;
    margin-bottom: 15px;

    &.ico {
      color: #3147ff;
    }

    &.cod {
      color: #fe8100;
    }

    &.teh {
      color: #009bff;
    }

    &.beh {
      color: #053eff;
    }

    &.drib {
      color: #ea4d89;
    }

    &.codp {
      color: #000000;
    }
  }

  h2 {
    font-size: 22px;
    font-weight: 400;
    float: left;
    width: 100%;
    display: block;
    margin-bottom: 15px;
    color: #191919;
  }

  p {
    font-size: 14px;
    float: left;
    width: 100%;
    display: block;
    line-height: 30px;
    color: #51596c;
  }
}

.toptil {
  padding: 5%;

  h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #ffffff;
    line-height: 1.3;
  }

  p {
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
  }
}

.breadcrum {
  a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    display: inline-block;
    font-weight: 600;
  }

  i {
    font-size: 20px;
    display: inline-block;
    position: relative;
    top: 4px;
  }

  span {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    display: inline-block;
  }
}

.txtcontent {
  width: 100%;
  float: left;

  h1 {
    font-size: 16px;
    font-weight: 600;
    margin:15px 0;
    line-height: 1.3;
  }

  p {
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 400;
    line-height: 28px;
    color: #3e3e3e;
    width: 100%;
  }
  ul {
    width: 100%;
    list-style: disc;
    padding-left: 35px;

    li {
      font-size: 14px;
      margin-bottom: 10px;
      font-weight: 400;
      line-height: 28px;
      color: #3e3e3e;
      width: 100%;
    }
  }

  table {
    width: 100%;
    font-size: 14px;
    tr {
      th {
        border: 2px solid #202020;
        padding: 10px;
        font-weight: 600;
        vertical-align: middle;
      }
      td {
        border: 2px solid #202020;
        padding: 10px;
      }
    }
  }
}

.fotlnk {
  border-radius: 5px;
  width: 100%;
  float: left;
  padding: 25px 20px;

  &.gg {
    background: #f60000;
    background: -webkit-linear-gradient(133deg, #f60000 0%, #a90000 99%);
    background-image: linear-gradient(133deg, #f60000 0%, #a90000 99%);

    h1 {
      color: #ffffff;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    p {
      color: #ffffff;
      font-size: 13px;
      line-height: 18px;
    }
  }

  &.gp {
    background: #cc2b5e;
    background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);
    background: linear-gradient(to right, #753a88, #cc2b5e);

    h1 {
      color: #ffffff;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    p {
      color: #ffffff;
      font-size: 13px;
      line-height: 18px;
    }
  }

  &.gs {
    background: #cc2b5e;
    background: -webkit-linear-gradient(to right, #fcd602, #ffde28);
    background: linear-gradient(to right, #fcd602, #ffde28);
    h1 {
      color: #000000;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    p {
      color: #000000;
      font-size: 13px;
      line-height: 18px;
    }
  }

  a {
    display: inline-block;
    background-color: #ffffff;
    color: rgb(63, 63, 63);
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 12px;
    text-decoration: none;
    margin-top: 10px;
  }
}

.dmlink {
  h1 {
    font-size: 28px;
    font-weight: 400;
  }

  p {
    font-size: 14px;
    color: #51596c;
    text-align: center;
  }

  a {
    font-size: 40px;
    text-decoration: none;
    color: #363e4f;
    margin: 30px 20px;
    display: inline-block;

    &:hover {
      color: #3056de;
    }
  }
}

/*--iPhone 5 portrait · width: 320px Start--*/
.iphone-wrap-1 {
  margin: 30px auto;
  float: left;
  width: 100%;
  display: block;
}

.iphone-layout-1 {
  margin: auto;
  width: 360px;
  height: 656px;
  border: 3px solid #494b55;
  border-radius: 40px;
  transform: rotate(0deg);
}

.power-btn-1 {
  position: absolute;
  width: 40px;
  height: 4px;
  top: -7px;
  right: 40px;
  background: #494b55;
}

.additional-btns-1 {
  position: absolute;
  top: 80px;
  left: -7px;
  width: 4px;
  height: 200px;
}

.additional-btns-1 .camera-btn-1 {
  position: absolute;
  width: 4px;
  height: 30px;
  background: #494b55;
}

.vol-btns-1 {
  position: absolute;
  width: 4px;
  height: 70px;
  top: 60px;
}

.vol-btns-1 .vol-inc-1,
.vol-btns-1 .vol-dec-1 {
  position: absolute;
  width: 4px;
  height: 20px;
  background: #494b55;
}

.vol-btns-1 .vol-dec-1 {
  top: 40px;
}

.top-1 .front-cam-1 {
  margin: 20px auto 15px;
  width: 15px;
  height: 15px;
  border: 2px solid #494b55;
  border-radius: 50%;
}

.front-cam-1 .front-cam-inner-1 {
  width: 5px;
  height: 5px;
  border: 1px solid #494b55;
  margin: 3px auto 0;
  border-radius: 50%;
}

.top-1 .speaker-1 {
  margin: 5px auto 15px;
  width: 55px;
  height: 10px;
  border-radius: 10px;
  border: 2px solid #494b55;
}

.iphone-viewport-1 {
  background: #eaeaea;
  margin: 0 auto;
  width: 324px;
  height: 507px;
  border: 2px solid #494b55;
  overflow: hidden;
}

.iphone-viewport-1 iframe {
  width: 320px;
  height: 504px;
}

.bottom-1 .menu-button-1 {
  margin: 15px auto 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #494b55;
}

.menu-button-1 .menu-button-inner-1 {
  width: 20px;
  height: 20px;
  border: 1px solid #494b55;
  border-radius: 3px;
  margin: 13px auto 0;
}

/*--iPhone 5 portrait · width: 320px End--*/

/*--iPhone 5 landscape · width: 568px Start--*/
.iphone-wrap-2 {
  margin: 30px auto;
  float: left;
  width: 100%;
  display: block;
}

.iphone-layout-2 {
  margin: auto;
  width: 725px;
  height: 300px;
  border: 3px solid #494b55;
  border-radius: 40px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.power-btn-2 {
  position: absolute;
  width: 4px;
  height: 40px;
  top: 215px;
  right: -7px;
  background: #494b55;
}

.additional-btns-2 {
  position: absolute;
  top: -7px;
  right: 85px;
  width: 150px;
  height: 4px;
}

.camera-btn-2 {
  position: relative;
  width: 30px;
  height: 4px;
  background: #494b55;
  display: block;
  float: left;
  left: 50px;
}

.vol-btns-2 {
  position: relative;
  width: 70px;
  height: 4px;
  left: 50px;
  display: block;
  float: left;
}

.vol-btns-2 .vol-inc-2 {
  width: 20px;
  height: 4px;
  background: #494b55;
  float: left;
  display: block;
  position: relative;
  right: 20px;
}

.vol-btns-2 .vol-dec-2 {
  width: 20px;
  height: 4px;
  background: #494b55;
  float: left;
  display: block;
}

.top-2 {
  display: block;
  float: left;
}

.top-2 .front-cam-2 {
  margin: 140px 10px;
  width: 15px;
  height: 15px;
  border: 2px solid #494b55;
  border-radius: 50%;
  display: block;
  float: left;
}

.front-cam-2 .front-cam-inner-2 {
  width: 5px;
  height: 5px;
  border: 1px solid #494b55;
  margin: 3px auto 0;
  border-radius: 50%;
}

.top-2 .speaker-2 {
  margin: 120px 10px;
  width: 10px;
  height: 55px;
  border-radius: 10px;
  border: 2px solid #494b55;
  display: block;
  float: left;
}

.iphone-viewport-2 {
  background: #eaeaea;
  margin: 20px auto;
  width: 572px;
  height: 259px;
  border: 2px solid #494b55;
  overflow: hidden;
  display: block;
  float: left;
}

.iphone-viewport-2 iframe {
  width: 568px;
  height: 256px;
}

.bottom-2 {
  width: 70px;
  display: block;
  float: left;
  margin: 115px 5px;
}

.bottom-2 .menu-button-2 {
  margin: 15px auto 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #494b55;
}

.menu-button-2 .menu-button-inner-2 {
  width: 20px;
  height: 20px;
  border: 1px solid #494b55;
  border-radius: 3px;
  margin: 13px auto 0;
}

/*--iPhone 5 landscape · width: 568px End--*/

/*--iPhone 6 portrait · width: 375px Start--*/
.iphone-wrap-3 {
  margin: 30px auto;
  float: left;
  width: 100%;
  display: block;
}

.iphone-layout-3 {
  margin: auto;
  width: 415px;
  height: 763px;
  border: 3px solid #494b55;
  border-radius: 40px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.power-btn-3 {
  position: absolute;
  width: 40px;
  height: 4px;
  top: -7px;
  right: 40px;
  background: #494b55;
}

.additional-btns-3 {
  position: absolute;
  top: 80px;
  left: -7px;
  width: 4px;
  height: 200px;
}

.additional-btns-3 .camera-btn-3 {
  position: absolute;
  width: 4px;
  height: 30px;
  background: #494b55;
}

.vol-btns-3 {
  position: absolute;
  width: 4px;
  height: 70px;
  top: 60px;
}

.vol-btns-3 .vol-inc-3,
.vol-btns-3 .vol-dec-3 {
  position: absolute;
  width: 4px;
  height: 20px;
  background: #494b55;
}

.vol-btns-3 .vol-dec-3 {
  top: 40px;
}

.top-3 .front-cam-3 {
  margin: 20px auto 15px;
  width: 15px;
  height: 15px;
  border: 2px solid #494b55;
  border-radius: 50%;
}

.front-cam-3 .front-cam-inner-3 {
  width: 5px;
  height: 5px;
  border: 1px solid #494b55;
  margin: 3px auto 0;
  border-radius: 50%;
}

.top-3 .speaker-3 {
  margin: 5px auto 15px;
  width: 55px;
  height: 10px;
  border-radius: 10px;
  border: 2px solid #494b55;
}

.iphone-viewport-3 {
  background: #eaeaea;
  margin: 0 auto;
  width: 379px;
  height: 609px;
  border: 2px solid #494b55;
  overflow: hidden;
}

.iphone-viewport-3 iframe {
  width: 375px;
  height: 603px;
}

.bottom-3 .menu-button-3 {
  margin: 15px auto 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #494b55;
}

.menu-button-3 .menu-button-inner-3 {
  width: 20px;
  height: 20px;
  border: 1px solid #494b55;
  border-radius: 3px;
  margin: 13px auto 0;
}

/*--iPhone 6 portrait · width: 375px End--*/

/*--iPhone 6 landscape · width: 667px--*/
.iphone-wrap-4 {
  margin: 30px auto;
  float: left;
  width: 100%;
  display: block;
}

.iphone-layout-4 {
  margin: auto;
  width: 824px;
  height: 365px;
  border: 3px solid #494b55;
  border-radius: 40px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.power-btn-4 {
  position: absolute;
  width: 4px;
  height: 40px;
  top: 260px;
  right: -7px;
  background: #494b55;
}

.additional-btns-4 {
  position: absolute;
  top: -7px;
  right: 85px;
  width: 150px;
  height: 4px;
}

.camera-btn-4 {
  position: relative;
  width: 30px;
  height: 4px;
  background: #494b55;
  display: block;
  float: left;
  left: 50px;
}

.vol-btns-4 {
  position: relative;
  width: 70px;
  height: 4px;
  left: 50px;
  display: block;
  float: left;
}

.vol-btns-4 .vol-inc-4 {
  width: 20px;
  height: 4px;
  background: #494b55;
  float: left;
  display: block;
  position: relative;
  right: 20px;
}

.vol-btns-4 .vol-dec-4 {
  width: 20px;
  height: 4px;
  background: #494b55;
  float: left;
  display: block;
}

.top-4 {
  display: block;
  float: left;
}

.top-4 .front-cam-4 {
  margin: 173px 10px;
  width: 15px;
  height: 15px;
  border: 2px solid #494b55;
  border-radius: 50%;
  display: block;
  float: left;
}

.front-cam-4 .front-cam-inner-4 {
  width: 5px;
  height: 5px;
  border: 1px solid #494b55;
  margin: 3px auto 0;
  border-radius: 50%;
}

.top-4 .speaker-4 {
  margin: 154px 10px;
  width: 10px;
  height: 55px;
  border-radius: 10px;
  border: 2px solid #494b55;
  display: block;
  float: left;
}

.iphone-viewport-4 {
  background: #eaeaea;
  margin: 20px auto;
  width: 670px;
  height: 311px;
  border: 2px solid #494b55;
  overflow: hidden;
  display: block;
  float: left;
}

.iphone-viewport-4 iframe {
  width: 667px;
  height: 311px;
}

.bottom-4 {
  width: 70px;
  display: block;
  float: left;
  margin: 149px 5px;
}

.bottom-4 .menu-button-4 {
  margin: 15px auto 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #494b55;
}

.menu-button-4 .menu-button-inner-4 {
  width: 20px;
  height: 20px;
  border: 1px solid #494b55;
  border-radius: 3px;
  margin: 13px auto 0;
}

/*--iPhone 6 landscape · width: 667px--*/

/*--iPhone 6 Plump portrait · width: 414px Start--*/
.iphone-wrap-5 {
  margin: 30px auto;
  float: left;
  width: 100%;
  display: block;
}

.iphone-layout-5 {
  margin: auto;
  width: 454px;
  height: 832px;
  border: 3px solid #494b55;
  border-radius: 40px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.power-btn-5 {
  position: absolute;
  width: 40px;
  height: 4px;
  top: -7px;
  right: 40px;
  background: #494b55;
}

.additional-btns-5 {
  position: absolute;
  top: 80px;
  left: -7px;
  width: 4px;
  height: 200px;
}

.additional-btns-5 .camera-btn-5 {
  position: absolute;
  width: 4px;
  height: 30px;
  background: #494b55;
}

.vol-btns-5 {
  position: absolute;
  width: 4px;
  height: 70px;
  top: 60px;
}

.vol-btns-5 .vol-inc-5,
.vol-btns-5 .vol-dec-5 {
  position: absolute;
  width: 4px;
  height: 20px;
  background: #494b55;
}

.vol-btns-5 .vol-dec-5 {
  top: 40px;
}

.top-5 .front-cam-5 {
  margin: 20px auto 15px;
  width: 15px;
  height: 15px;
  border: 2px solid #494b55;
  border-radius: 50%;
}

.front-cam-5 .front-cam-inner-5 {
  width: 5px;
  height: 5px;
  border: 1px solid #494b55;
  margin: 3px auto 0;
  border-radius: 50%;
}

.top-5 .speaker-5 {
  margin: 5px auto 15px;
  width: 55px;
  height: 10px;
  border-radius: 10px;
  border: 2px solid #494b55;
}

.iphone-viewport-5 {
  background: #eaeaea;
  margin: 0 auto;
  width: 417px;
  height: 672px;
  border: 2px solid #494b55;
  overflow: hidden;
}

.iphone-viewport-5 iframe {
  width: 414px;
  height: 672px;
}

.bottom-5 .menu-button-5 {
  margin: 15px auto 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #494b55;
}

.menu-button-5 .menu-button-inner-5 {
  width: 20px;
  height: 20px;
  border: 1px solid #494b55;
  border-radius: 3px;
  margin: 13px auto 0;
}

/*--iPhone 6 Plump portrait · width: 414px End--*/

/*--iPhone 6 Plump landscape · width: 736px Start--*/
.iphone-wrap-6 {
  margin: 30px auto;
  float: left;
  width: 100%;
  display: block;
}

.iphone-layout-6 {
  margin: auto;
  width: 893px;
  height: 404px;
  border: 3px solid #494b55;
  border-radius: 40px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.power-btn-6 {
  position: absolute;
  width: 4px;
  height: 40px;
  top: 305px;
  right: -7px;
  background: #494b55;
}

.additional-btns-6 {
  position: absolute;
  top: -7px;
  right: 85px;
  width: 150px;
  height: 4px;
}

.camera-btn-6 {
  position: relative;
  width: 30px;
  height: 4px;
  background: #494b55;
  display: block;
  float: left;
  left: 50px;
}

.vol-btns-6 {
  position: relative;
  width: 70px;
  height: 4px;
  left: 50px;
  display: block;
  float: left;
}

.vol-btns-6 .vol-inc-6 {
  width: 20px;
  height: 4px;
  background: #494b55;
  float: left;
  display: block;
  position: relative;
  right: 20px;
}

.vol-btns-6 .vol-dec-6 {
  width: 20px;
  height: 4px;
  background: #494b55;
  float: left;
  display: block;
}

.top-6 {
  display: block;
  float: left;
}

.top-6 .front-cam-6 {
  margin: 193px 10px;
  width: 15px;
  height: 15px;
  border: 2px solid #494b55;
  border-radius: 50%;
  display: block;
  float: left;
}

.front-cam-6 .front-cam-inner-6 {
  width: 5px;
  height: 5px;
  border: 1px solid #494b55;
  margin: 3px auto 0;
  border-radius: 50%;
}

.top-6 .speaker-6 {
  margin: 173px 10px;
  width: 10px;
  height: 55px;
  border-radius: 10px;
  border: 2px solid #494b55;
  display: block;
  float: left;
}

.iphone-viewport-6 {
  background: #eaeaea;
  margin: 24px auto;
  width: 740px;
  height: 350px;
  border: 2px solid #494b55;
  overflow: hidden;
  display: block;
  float: left;
}

.iphone-viewport-6 iframe {
  width: 736px;
  height: 350px;
}

.bottom-6 {
  width: 70px;
  display: block;
  float: left;
  margin: 169px 5px;
}

.bottom-6 .menu-button-6 {
  margin: 15px auto 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #494b55;
}

.menu-button-6 .menu-button-inner-6 {
  width: 20px;
  height: 20px;
  border: 1px solid #494b55;
  border-radius: 3px;
  margin: 13px auto 0;
}

/*--iPhone 6 Plump landscape · width: 736px End--*/

/*--Crappy Android portrait · width: 240px Start--*/
.iphone-wrap-7 {
  margin: 30px auto;
  float: left;
  width: 100%;
  display: block;
}

.iphone-layout-7 {
  margin: auto;
  width: 280px;
  height: 460px;
  border: 3px solid #494b55;
  border-radius: 40px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.power-btn-7 {
  position: absolute;
  width: 40px;
  height: 4px;
  top: -7px;
  right: 40px;
  background: #494b55;
}

.additional-btns-7 {
  position: absolute;
  top: 80px;
  left: -7px;
  width: 4px;
  height: 200px;
}

.additional-btns-7 .camera-btn-7 {
  position: absolute;
  width: 4px;
  height: 30px;
  background: #494b55;
}

.vol-btns-7 {
  position: absolute;
  width: 4px;
  height: 70px;
  top: 60px;
}

.vol-btns-7 .vol-inc-7,
.vol-btns-7 .vol-dec-7 {
  position: absolute;
  width: 4px;
  height: 20px;
  background: #494b55;
}

.vol-btns-7 .vol-dec-7 {
  top: 40px;
}

.top-7 .front-cam-7 {
  margin: 20px auto 15px;
  width: 15px;
  height: 15px;
  border: 2px solid #494b55;
  border-radius: 50%;
}

.front-cam-7 .front-cam-inner-7 {
  width: 5px;
  height: 5px;
  border: 1px solid #494b55;
  margin: 3px auto 0;
  border-radius: 50%;
}

.top-7 .speaker-7 {
  margin: 5px auto 15px;
  width: 55px;
  height: 10px;
  border-radius: 10px;
  border: 2px solid #494b55;
}

.iphone-viewport-7 {
  background: #eaeaea;
  margin: 0 auto;
  width: 242px;
  height: 300px;
  border: 2px solid #494b55;
  overflow: hidden;
}

.iphone-viewport-7 iframe {
  width: 240px;
  height: 300px;
}

.bottom-7 .menu-button-7 {
  margin: 15px auto 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #494b55;
}

.menu-button-7 .menu-button-inner-7 {
  width: 20px;
  height: 20px;
  border: 1px solid #494b55;
  border-radius: 3px;
  margin: 13px auto 0;
}

/*--Crappy Android portrait · width: 240px End--*/

/*--Crappy Android landscape · width: 320px Start--*/
.iphone-wrap-8 {
  margin: 30px auto;
  float: left;
  width: 100%;
  display: block;
}

.iphone-layout-8 {
  margin: auto;
  width: 477px;
  height: 274px;
  border: 3px solid #494b55;
  border-radius: 40px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.power-btn-8 {
  position: absolute;
  width: 4px;
  height: 40px;
  top: 188px;
  right: -7px;
  background: #494b55;
}

.additional-btns-8 {
  position: absolute;
  top: -7px;
  right: 85px;
  width: 150px;
  height: 4px;
}

.camera-btn-8 {
  position: relative;
  width: 30px;
  height: 4px;
  background: #494b55;
  display: block;
  float: left;
  left: 50px;
}

.vol-btns-8 {
  position: relative;
  width: 70px;
  height: 4px;
  left: 50px;
  display: block;
  float: left;
}

.vol-btns-8 .vol-inc-8 {
  width: 20px;
  height: 4px;
  background: #494b55;
  float: left;
  display: block;
  position: relative;
  right: 20px;
}

.vol-btns-8 .vol-dec-8 {
  width: 20px;
  height: 4px;
  background: #494b55;
  float: left;
  display: block;
}

.top-8 {
  display: block;
  float: left;
}

.top-8 .front-cam-8 {
  margin: 126px 10px;
  width: 15px;
  height: 15px;
  border: 2px solid #494b55;
  border-radius: 50%;
  display: block;
  float: left;
}

.front-cam-8 .front-cam-inner-8 {
  width: 5px;
  height: 5px;
  border: 1px solid #494b55;
  margin: 3px auto 0;
  border-radius: 50%;
}

.top-8 .speaker-8 {
  margin: 106px 10px;
  width: 10px;
  height: 55px;
  border-radius: 10px;
  border: 2px solid #494b55;
  display: block;
  float: left;
}

.iphone-viewport-8 {
  background: #eaeaea;
  margin: 20px auto;
  width: 322px;
  height: 220px;
  border: 2px solid #494b55;
  overflow: hidden;
  display: block;
  float: left;
}

.iphone-viewport-8 iframe {
  width: 320px;
  height: 220px;
}

.bottom-8 {
  width: 70px;
  display: block;
  float: left;
  margin: 100px 5px;
}

.bottom-8 .menu-button-8 {
  margin: 15px auto 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #494b55;
}

.menu-button-8 .menu-button-inner-8 {
  width: 20px;
  height: 20px;
  border: 1px solid #494b55;
  border-radius: 3px;
  margin: 13px auto 0;
}

/*--Crappy Android landscape · width: 320px End--*/

/*--Android (Nexus 4) portrait · width: 384px Start--*/
.iphone-wrap-9 {
  margin: 30px auto;
  float: left;
  width: 100%;
  display: block;
}

.iphone-layout-9 {
  margin: auto;
  width: 430px;
  height: 760px;
  border: 3px solid #494b55;
  border-radius: 40px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.power-btn-9 {
  position: absolute;
  width: 40px;
  height: 4px;
  top: -7px;
  right: 40px;
  background: #494b55;
}

.additional-btns-9 {
  position: absolute;
  top: 80px;
  left: -7px;
  width: 4px;
  height: 200px;
}

.additional-btns-9 .camera-btn-9 {
  position: absolute;
  width: 4px;
  height: 30px;
  background: #494b55;
}

.vol-btns-9 {
  position: absolute;
  width: 4px;
  height: 70px;
  top: 60px;
}

.vol-btns-9 .vol-inc-9,
.vol-btns-9 .vol-dec-9 {
  position: absolute;
  width: 4px;
  height: 20px;
  background: #494b55;
}

.vol-btns-9 .vol-dec-9 {
  top: 40px;
}

.top-9 .front-cam-9 {
  margin: 20px auto 15px;
  width: 15px;
  height: 15px;
  border: 2px solid #494b55;
  border-radius: 50%;
}

.front-cam-9 .front-cam-inner-9 {
  width: 5px;
  height: 5px;
  border: 1px solid #494b55;
  margin: 3px auto 0;
  border-radius: 50%;
}

.top-9 .speaker-9 {
  margin: 5px auto 15px;
  width: 55px;
  height: 10px;
  border-radius: 10px;
  border: 2px solid #494b55;
}

.iphone-viewport-9 {
  background: #eaeaea;
  margin: 0 auto;
  width: 388px;
  height: 600px;
  border: 2px solid #494b55;
  overflow: hidden;
}

.iphone-viewport-9 iframe {
  width: 384px;
  height: 600px;
}

.bottom-9 .menu-button-9 {
  margin: 15px auto 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #494b55;
}

.menu-button-9 .menu-button-inner-9 {
  width: 20px;
  height: 20px;
  border: 1px solid #494b55;
  border-radius: 3px;
  margin: 13px auto 0;
}

/*--Android (Nexus 4) portrait · width: 384px End--*/

/*--Android (Nexus 4) landscape · width: 600px Start--*/
.iphone-wrap-10 {
  margin: 30px auto;
  float: left;
  width: 100%;
  display: block;
}

.iphone-layout-10 {
  margin: auto;
  width: 760px;
  height: 410px;
  border: 3px solid #494b55;
  border-radius: 40px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.power-btn-10 {
  position: absolute;
  width: 4px;
  height: 40px;
  top: 300px;
  right: -7px;
  background: #494b55;
}

.additional-btns-10 {
  position: absolute;
  top: -7px;
  right: 85px;
  width: 150px;
  height: 4px;
}

.camera-btn-10 {
  position: relative;
  width: 30px;
  height: 4px;
  background: #494b55;
  display: block;
  float: left;
  left: 50px;
}

.vol-btns-10 {
  position: relative;
  width: 70px;
  height: 4px;
  left: 50px;
  display: block;
  float: left;
}

.vol-btns-10 .vol-inc-10 {
  width: 20px;
  height: 4px;
  background: #494b55;
  float: left;
  display: block;
  position: relative;
  right: 20px;
}

.vol-btns-10 .vol-dec-10 {
  width: 20px;
  height: 4px;
  background: #494b55;
  float: left;
  display: block;
}

.top-10 {
  display: block;
  float: left;
}

.top-10 .front-cam-10 {
  margin: 195px 10px;
  width: 15px;
  height: 15px;
  border: 2px solid #494b55;
  border-radius: 50%;
  display: block;
  float: left;
}

.front-cam-10 .front-cam-inner-10 {
  width: 5px;
  height: 5px;
  border: 1px solid #494b55;
  margin: 3px auto 0;
  border-radius: 50%;
}

.top-10 .speaker-10 {
  margin: 175px 10px;
  width: 10px;
  height: 55px;
  border-radius: 10px;
  border: 2px solid #494b55;
  display: block;
  float: left;
}

.iphone-viewport-10 {
  background: #eaeaea;
  margin: 20px auto;
  width: 604px;
  height: 364px;
  border: 2px solid #494b55;
  overflow: hidden;
  display: block;
  float: left;
}

.iphone-viewport-10 iframe {
  width: 600px;
  height: 364px;
}

.bottom-10 {
  width: 70px;
  display: block;
  float: left;
  margin: 170px 5px;
}

.bottom-10 .menu-button-10 {
  margin: 15px auto 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #494b55;
}

.menu-button-10 .menu-button-inner-10 {
  width: 20px;
  height: 20px;
  border: 1px solid #494b55;
  border-radius: 3px;
  margin: 13px auto 0;
}

/*--Android (Nexus 4) landscape · width: 600px End--*/

/*--iPad portrait · width: 768px Start--*/
.iphone-wrap-11 {
  margin: 30px auto;
  float: left;
  width: 100%;
  display: block;
}

.iphone-layout-11 {
  margin: auto;
  width: 890px;
  height: 1090px;
  border: 3px solid #494b55;
  border-radius: 40px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.power-btn-11 {
  position: absolute;
  width: 40px;
  height: 4px;
  top: -7px;
  right: 90px;
  background: #494b55;
}

.additional-btns-11 {
  position: absolute;
  top: 80px;
  left: -7px;
  width: 4px;
  height: 200px;
}

.additional-btns-11 .camera-btn-11 {
  position: absolute;
  width: 4px;
  height: 30px;
  background: #494b55;
}

.vol-btns-11 {
  position: absolute;
  width: 4px;
  height: 70px;
  top: 60px;
}

.vol-btns-11 .vol-inc-11,
.vol-btns-11 .vol-dec-11 {
  position: absolute;
  width: 4px;
  height: 20px;
  background: #494b55;
}

.vol-btns-11 .vol-dec-11 {
  top: 40px;
}

.top-11 .front-cam-11 {
  margin: 20px auto 15px;
  width: 15px;
  height: 15px;
  border: 2px solid #494b55;
  border-radius: 50%;
}

.front-cam-11 .front-cam-inner-11 {
  width: 5px;
  height: 5px;
  border: 1px solid #494b55;
  margin: 3px auto 0;
  border-radius: 50%;
}

.top-11 .speaker-11 {
  margin: 5px auto 15px;
  width: 55px;
  height: 10px;
  border-radius: 10px;
  border: 2px solid #494b55;
}

.iphone-viewport-11 {
  background: #eaeaea;
  margin: 0 auto;
  width: 770px;
  height: 929px;
  border: 2px solid #494b55;
  overflow: hidden;
}

.iphone-viewport-11 iframe {
  width: 768px;
  height: 929px;
}

.bottom-11 .menu-button-11 {
  margin: 15px auto 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #494b55;
}

.menu-button-11 .menu-button-inner-11 {
  width: 20px;
  height: 20px;
  border: 1px solid #494b55;
  border-radius: 3px;
  margin: 13px auto 0;
}

/*--iPad portrait · width: 768px End--*/

/*--iPad landscape · width: 1024px Start--*/
.iphone-wrap-12 {
  margin: 30px auto;
  float: left;
  width: 100%;
  display: block;
}

.iphone-layout-12 {
  margin: auto;
  width: 1180px;
  height: 740px;
  border: 3px solid #494b55;
  border-radius: 40px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.power-btn-12 {
  position: absolute;
  width: 4px;
  height: 40px;
  top: 630px;
  right: -7px;
  background: #494b55;
}

.additional-btns-12 {
  position: absolute;
  top: -7px;
  right: 85px;
  width: 150px;
  height: 4px;
}

.camera-btn-12 {
  position: relative;
  width: 30px;
  height: 4px;
  background: #494b55;
  display: block;
  float: left;
  left: 50px;
}

.vol-btns-12 {
  position: relative;
  width: 70px;
  height: 4px;
  left: 50px;
  display: block;
  float: left;
}

.vol-btns-12 .vol-inc-12 {
  width: 20px;
  height: 4px;
  background: #494b55;
  float: left;
  display: block;
  position: relative;
  right: 20px;
}

.vol-btns-12 .vol-dec-12 {
  width: 20px;
  height: 4px;
  background: #494b55;
  float: left;
  display: block;
}

.top-12 {
  display: block;
  float: left;
}

.top-12 .front-cam-12 {
  margin: 360px 10px;
  width: 15px;
  height: 15px;
  border: 2px solid #494b55;
  border-radius: 50%;
  display: block;
  float: left;
}

.front-cam-12 .front-cam-inner-12 {
  width: 5px;
  height: 5px;
  border: 1px solid #494b55;
  margin: 3px auto 0;
  border-radius: 50%;
}

.top-12 .speaker-12 {
  margin: 340px 10px;
  width: 10px;
  height: 55px;
  border-radius: 10px;
  border: 2px solid #494b55;
  display: block;
  float: left;
}

.iphone-viewport-12 {
  background: #eaeaea;
  margin: 30px auto;
  width: 1024px;
  height: 675px;
  border: 2px solid #494b55;
  overflow: hidden;
  display: block;
  float: left;
}

.iphone-viewport-12 iframe {
  width: 1028px;
  height: 675px;
}

.bottom-12 {
  width: 70px;
  display: block;
  float: left;
  margin: 335px 5px;
}

.bottom-12 .menu-button-12 {
  margin: 15px auto 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #494b55;
}

.menu-button-12 .menu-button-inner-12 {
  width: 20px;
  height: 20px;
  border: 1px solid #494b55;
  border-radius: 3px;
  margin: 13px auto 0;
}

/*--iPad landscape · width: 1024px End--*/
.url-cont {
  width: 100%;
  display: block;
  float: left;

  form {
    display: block;
    text-align: center;
    margin: 14px auto;
    font-size: 16px;

    .url-inp {
      width: 30%;
      padding: 5px 10px;
      height: 45px;
      border: 1px solid #3056de;
      border-radius: 2px;
      font-size: 16px;
    }

    .inp-btn {
      width: 80px;
      padding: 10px;
      height: 45px;
      border: 1px solid #3056de;
      border-radius: 2px;
      color: #ffffff;
      background-color: #3056de;
      font-size: 16px;
      cursor: pointer;
    }

    .inp-btn:hover {
      background-color: #3056de;
    }
  }

  span {
    display: block;
    text-align: center;
    font-size: 16px;
    margin: 20px 0 30px;
  }
}

.separator {
  width: 100%;
  float: left;
  text-align: center;

  i {
    font-size: 100px;
    margin: 15px 15px 30px;
    color: #494b55;
    display: inline-block;
  }
}

.device-cont {
  width: 100%;
  float: left;
  margin-bottom: 50px;
  display: none;

  .device-name {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #494b55;
    text-align: center;
  }
}

.item-blk {
  position: relative;
  margin: 10px;
  padding: 20px;
  float: left;
  background-color: #ffffff;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
}

.remove {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #ffffff;
  border: 1px solid #4e4e4e;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  color: #4e4e4e;
  cursor: pointer;
}

textarea {
  background-color: #ffffff;
  padding: 10px;
  line-height: 18px;
  font-size: 12px;
  font-family: Courier;
  width: 100%;
  margin: 2px 0px;
  height: 120px;
}

#results {
  padding: 10px 0;
  position: relative;
  float: left;
  width: 100%;
  box-sizing: border-box;
}

#dropper {
  width: 100%;
  height: 150px;
  margin: 1% 0%;
  border: 2px dashed #3e3e3e;
  float: left;

  &.hover {
    opacity: 0.5;
    background: lightblue;
    z-index: 100;
  }

  span {
    margin: 65px 0;
    display: block;
    font-size: 16px;
    color: #3e3e3e;
    text-align: center;
  }
}

.entry-content {
  width: 100%;
}

.base64name {
  line-height: 2;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}

.base64img {
  width: 100%;
  float: left;

  img {
    max-width: 200px;
    margin: 0 auto;
    display: block;
  }
}

.srchboxcnt {
  margin: auto;

  .srchlogo {
    width: 100%;
    float: left;
    text-align: center;

    img {
      width: 100px;
      margin: 0 auto;
    }

    h1 {
      font-size: 18px;
      font-weight: 400;
      margin: 20px 0 0;
    }
  }

  .srchbox {
    width: 100%;
    float: left;

    input {
      width: 100%;
      padding: 10px;
      border-radius: 4px;
      border: 1px solid #dddddd;
      margin: 4% 0;
      font-size: 16px;
      outline: none;
      appearance: none;
    }
  }
}

.srchresult {
  padding: 0 70px;
  background-color: #ffffff;
}
