.probnr {
    padding: 50px 0 50px 20px;

    h1 {
        font-size: 45px;
        line-height: 72px;
        margin-bottom: 15px;
        font-weight: 600;
    }

    p {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 35px;
        width: 100%;
        color: #3e3e3e;
    }

}

.proimg {
    width: 70%;
    margin: 5% 15%;
}

.youtube-player {
    position: relative;
    padding-bottom: 56.23%;
    height: 0;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    background: #313131;
    margin: 5px;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: transparent
    }

    img {
        bottom: 0;
        display: block;
        left: 0;
        margin: auto;
        max-width: 100%;
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        height: auto;
        cursor: pointer;
        -webkit-transition: .4s all;
        -moz-transition: .4s all;
        transition: .4s all;

        &:hover {
            -webkit-filter: brightness(75%);
            filter: brightness(75%)
        }
    }

    .play {
        height: 72px;
        width: 72px;
        left: 50%;
        top: 50%;
        margin-left: -36px;
        margin-top: -36px;
        position: absolute;
        background: url("../images/playbtn.png") no-repeat;
        cursor: pointer
    }
}

.center {
    text-align: center;
}

.left {
    float: left;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}

.mt35 {
    margin-top: 35px;
}

.mt40 {
    margin-top: 40px;
}

.mt45 {
    margin-top: 45px;
}

.mt50 {
    margin-top: 50px;
}

.mt100 {
    margin-top: 100px;
}

.mt150 {
    margin-top: 150px;
}

.mt200 {
    margin-top: 200px;
}

.mt250 {
    margin-top: 250px;
}

.mt300 {
    margin-top: 300px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb35 {
    margin-bottom: 35px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb45 {
    margin-bottom: 45px;
}

.mb50 {
    margin-bottom: 50px;
}

.mb100 {
    margin-bottom: 100px;
}

.mb150 {
    margin-bottom: 150px;
}

.mb200 {
    margin-bottom: 200px;
}

.mb250 {
    margin-bottom: 250px;
}

.mb300 {
    margin-bottom: 300px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.ml25 {
    margin-left: 25px;
}

.ml30 {
    margin-left: 30px;
}

.ml35 {
    margin-left: 35px;
}

.ml40 {
    margin-left: 40px;
}

.ml45 {
    margin-left: 45px;
}

.ml50 {
    margin-left: 50px;
}

.ml100 {
    margin-left: 100px;
}

.ml150 {
    margin-left: 150px;
}

.ml200 {
    margin-left: 200px;
}

.ml250 {
    margin-left: 250px;
}

.ml300 {
    margin-left: 300px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr25 {
    margin-right: 25px;
}

.mr30 {
    margin-right: 30px;
}

.mr35 {
    margin-right: 35px;
}

.mr40 {
    margin-right: 40px;
}

.mr45 {
    margin-right: 45px;
}

.mr50 {
    margin-right: 50px;
}

.mr100 {
    margin-right: 100px;
}

.mr150 {
    margin-right: 150px;
}

.mr200 {
    margin-right: 200px;
}

.mr250 {
    margin-right: 250px;
}

.mr300 {
    margin-right: 300px;
}


footer {
    width: 100%;
    float: left;
    padding: 20px;
    background-color: #202430;

    .flogo {
        width: 50px;
        float: left;
    }

    .fmenu {
        float: right;

        li {
            padding: 18.5px 10px;
            float: left;

            a {
                text-decoration: none;
                color: #ffffff;
                font-size: 12px;
            }
        }
    }
}