.labtool {
    width: 100%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 5px;
    box-sizing: border-box
}

.labtoolfield {
    position: relative;
    width: 100%;
    float: left;

    &.select:after {
        content: '';
        position: absolute;
        right: 15px;
        top: 15px;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid #000;
        z-index: 999;
    }

    input[type="text"],
    input[type="password"],
    input[type="number"] {
        width: 100%;
        height: 35px;
        padding: 5px;
        font-size: 15px;
        background-color: #fff;
        margin-bottom: 10px;
        box-sizing: border-box;
        border: 1px solid #dddddd;
        outline: none;
        font-size: 14px;
        line-height: 18px;
        border-radius: 2px;
        font-family: inherit;
        box-sizing: border-box;
        padding: 8px;
        color: #202420;
        // font-family:monospace;
    }


    textarea {
        width: 100%;
        height: 350px;
        margin-bottom: 10px;
        border: 1px solid #dddddd;
        resize: none;
        border-radius: 2px;
        outline: none;
        font-family: inherit;
        font-size: 14px;
        line-height: 26px;
        box-sizing: border-box;
        padding: 8px;
        color: #202420;
        font-family: monospace;
    }


    textarea.sm {
        height: 100px;
    }

    select {
        width: 100%;
        height: 35px;
        border: 1px solid #dddddd;
        border-radius: 2px;
        outline: none;
        transition: .4s ease;
        background-color: #ffffff;
        appearance: none;
        text-shadow: 0 0 0 #000;
        color: rgba(0, 0, 0, 0);
        position: relative;
        z-index: 99;
        margin-bottom: 10px;
        font-size: 16px;
        box-sizing: border-box;
        font-family: inherit;
        padding: 5px 8px;
        color: #202420;
    }

    textarea:focus,
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="number"]:focus {
        border: 1px solid #3056de;
    }

    input[type="button"],
    button,
    input[type="reset"],
    a {
        border: 0;
        padding: 10px 20px;
        margin: 10px 10px 10px 0;
        border-radius: 2px;
        font-size: 16px;
        outline: none;
        box-sizing: border-box;
        cursor: pointer;
        appearance: none;
    }


    input[type="button"].submit,
    button.submit,
    a.submit {
        background-color: #3056de;
        color: #ffffff;
        text-decoration: none;
    }

    input[type="button"].submit:hover,
    button.submit:hover,
    a.submit:hover {
        background-color: #3056de
    }

    input[type="button"].reset,
    button.reset,
    input[type="reset"].reset,
    a.reset {
        background-color: #ececec;
        color: #222222;
    }

    input[type="button"].reset:hover,
    button.reset:hover,
    input[type="reset"].reset:hover,
    a.reset:hover {
        background-color: #ececec
    }
}

.infomsg {
    width: 100%;
    float: left;
    font-size: 14px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #ffe7b1;
    border: 1px solid #f3a800;
    border-radius: 4px;
    margin: 20px 0
}

.labtoolcheckbox {
    position: relative;
    width: 22px;
    height: 22px;
    display: inline-block;
    float: left
}

.labtoolcheckbox label {
    cursor: pointer;
    width: 22px;
    height: 22px;
    display: block
}

.labtoolcheckbox label:before,
.labtoolcheckbox label:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0
}

.labtoolcheckbox label:before {
    width: 18px;
    height: 18px;
    border: 2px solid #8c8c8c;
    border-radius: 2px;
    cursor: pointer;
    transition: .3s
}

.labtoolcheckbox input[type="checkbox"] {
    outline: 0;
    z-index: 9999;
    opacity: 0;
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0
}



.labtoolcheckbox input[type="checkbox"]:checked+label:after {
    transform: scaleX(-1) rotate(135deg);
    top: 10px;
    left: 4px;
    width: 5px;
    height: 10px;
    transform-origin: left top;
    border-right: 2px solid #8c8c8c;
    border-top: 2px solid #8c8c8c;
    animation: zinkchanim;
    animation-duration: 200ms;
    animation-timing-function: ease
}

.labtoolchspan {
    font-size: 14px;
    color: #333333;
    float: left;
    margin: 3px 20px 3px 5px;
    display: inline-block
}

.toolbar {
    width: 100%;
    float: left;
    margin-bottom: 8px;

    label {
        padding: 1px 6px;
        cursor: pointer;
    }

    button,
    label {
        border: 1px solid #dddddd;
        border-radius: 2px;
        background-color: #ffffff;
        cursor: pointer;
        height: 30px;
        float: left;
        margin-right: 5px;
        outline: none;

        i {
            color: #000000;
            font-size: 20px;
            line-height: 27px;
        }
    }


    .select {
        position: relative;
        float: left;
        margin-right: 5px;

        &.hed {
            width: 100px;
        }

        &.fmly {
            width: 115px;
        }

        select {
            width: 100%;
            height: 30px;
            border: 1px solid #dddddd;
            border-radius: 2px;
            outline: none;
            transition: .4s ease;
            background-color: #ffffff;
            appearance: none;
            text-shadow: 0 0 0 #000;
            color: rgba(0, 0, 0, 0);
            position: relative;
            z-index: 99;
            font-size: 14px;
            box-sizing: border-box;
            font-family: inherit;
            padding: 5px 8px;
            color: #202420;
        }

        &:after {
            content: '';
            position: absolute;
            right: 8px;
            top: 13px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #000;
            z-index: 999;
        }
    }
}