.labtool {
  width: 100%;
  float: left;
  padding: 15px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;

  p {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 400;
    line-height: 28px;
    color: #3e3e3e;
    width: 100%;
    float: left;

    span {
      font-weight: 600;
      color: #ff0000;
    }
  }

  ul {
    width: 100%;
    margin-bottom: 30px;

    li {
      border-top: 1px solid #dddddd;
      border-radius: 0;
      margin: 5px 0;
      padding: 5px 0;
      position: relative;

      &:last-child {
        border-bottom: 1px solid #dddddd;
      }
      .msgbx {
        font-size: 14px;
        line-height: 20px;
        padding: 5px 5px 5px 50px;
        color: #3e3e3e;
        line-height: 22px;
      }

      button {
        border: 0;
        background-color: #ffffff;
        border-radius: 50%;
        border: 1px solid #009200;
        width: 25px;
        height: 25px;
        color: #009200;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
        cursor: pointer;

        &:hover {
          background-color: #009200;
          color: #ffffff;
        }
      }
    }
  }
}

.labtoolfield {
  position: relative;
  width: 100%;
  float: left;

  span {
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
  }
  &.select:after {
    content: "";
    position: absolute;
    right: 15px;
    top: 15px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #000;
    z-index: 999;
  }

  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="url"],
  input[type="email"],
  input[type="date"] {
    width: 100%;
    height: 35px;
    padding: 5px;
    font-size: 15px;
    background-color: #fff;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    outline: none;
    font-size: 14px;
    line-height: 18px;
    border-radius: 2px;
    font-family: inherit;
    box-sizing: border-box;
    padding: 8px;
    color: #202420;
    // font-family:monospace;
  }

  textarea {
    width: 100%;
    height: 350px;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
    resize: none;
    border-radius: 2px;
    outline: none;
    font-family: inherit;
    font-size: 14px;
    line-height: 26px;
    box-sizing: border-box;
    padding: 8px;
    color: #202420;
    font-family: monospace;
  }

  textarea.sm {
    height: 100px;
  }

  textarea.md {
    height: 300px;
  }

  select {
    width: 100%;
    height: 35px;
    border: 1px solid #dddddd;
    border-radius: 2px;
    outline: none;
    transition: 0.4s ease;
    background-color: #ffffff;
    appearance: none;
    text-shadow: 0 0 0 #000;
    color: rgba(0, 0, 0, 0);
    position: relative;
    z-index: 99;
    margin-bottom: 10px;
    font-size: 16px;
    box-sizing: border-box;
    font-family: inherit;
    padding: 5px 8px;
    color: #202420;
  }

  textarea:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="number"]:focus,
  input[type="date"]:focus {
    border: 1px solid #3056de;
  }

  input[type="button"],
  button,
  input[type="reset"],
  a {
    border: 0;
    padding: 8.25px 20px;
    margin: 10px 10px 10px 0;
    border-radius: 2px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
    appearance: none;
  }

  input[type="button"].submit,
  button.submit,
  a.submit {
    background-color: #3056de;
    color: #ffffff;
    text-decoration: none;
  }

  input[type="button"].submit:hover,
  button.submit:hover,
  a.submit:hover {
    background-color: #3056de;
  }

  input[type="button"].reset,
  button.reset,
  input[type="reset"].reset,
  a.reset {
    background-color: #ececec;
    color: #222222;
  }

  input[type="button"].reset:hover,
  button.reset:hover,
  input[type="reset"].reset:hover,
  a.reset:hover {
    background-color: #ececec;
  }

  input[type="radio"] {
    width: 1.2em;
    height: 1.2em;
    margin: 0 3px 0 0;
    vertical-align: top;
    background-color: #fff;
    border: 1px solid #dddddd;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    appearance: none;
    border-radius: 1em;
    cursor: pointer;

    &:checked {
      background-image: url("data:image/svg+xml,%0A%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 30 30' width='24px' height='24px' style='enable-background:new 0 0 30 30;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%237367F0;%7D%0A%3C/style%3E%3Ccircle class='st0' cx='15' cy='15' r='9.7'/%3E%3C/svg%3E%0A");
      border-color: #7367f0;
    }
    & + label {
      font-size: 14px;
      margin-right: 10px;
      cursor: pointer;
    }
  }
}

.jsonbx {
  white-space: pre-wrap;
  line-height: 25px;
  font-size: 14px;
  border: 1px solid #dddddd;
  border-radius: 2px;
  font-family: monospace;
  height: 400px;
  overflow: auto;

  span {
    display: block;
    margin-left: -1em;
    padding-left: 2em;
  }

  .line-number {
    display: inline-block;
    width: 5rem;
    opacity: 0.5;
    font-size: 14px;
    user-select: none;
    background-color: #f9f9f9;
    color: #9f9f9f;
    font-family: monospace;
    line-height: 2;
    font-weight: 700;
  }
}

.jsonoutput {
  display: none;
  margin-top: 10px;
  float: left;
  width: 100%;
  h1 {
    color: #000000;
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.infomsg {
  width: 100%;
  float: left;
  font-size: 14px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #ffe7b1;
  border: 1px solid #f3a800;
  border-radius: 4px;
  margin: 20px 0;
}

.labtoolcheckbox {
  position: relative;
  width: 22px;
  height: 22px;
  display: inline-block;
  float: left;
}

.labtoolcheckbox label {
  cursor: pointer;
  width: 22px;
  height: 22px;
  display: block;
}

.labtoolcheckbox label:before,
.labtoolcheckbox label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}

.labtoolcheckbox label:before {
  width: 18px;
  height: 18px;
  border: 2px solid #8c8c8c;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s;
}

.labtoolcheckbox input[type="checkbox"] {
  outline: 0;
  z-index: 9999;
  opacity: 0;
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin: 0;
}

.labtoolcheckbox input[type="checkbox"]:checked + label:after {
  transform: scaleX(-1) rotate(135deg);
  top: 10px;
  left: 4px;
  width: 5px;
  height: 10px;
  transform-origin: left top;
  border-right: 2px solid #8c8c8c;
  border-top: 2px solid #8c8c8c;
  animation: zinkchanim;
  animation-duration: 200ms;
  animation-timing-function: ease;
}

.labtoolchspan {
  font-size: 14px;
  color: #333333;
  float: left;
  margin: 3px 20px 3px 5px;
  display: inline-block;
}

.toolbar {
  width: 100%;
  float: left;
  margin-bottom: 8px;

  label {
    padding: 1px 6px;
    cursor: pointer;
  }

  button,
  label {
    border: 1px solid #dddddd;
    border-radius: 2px;
    background-color: #ffffff;
    cursor: pointer;
    height: 30px;
    float: left;
    margin-right: 5px;
    outline: none;

    i {
      color: #000000;
      font-size: 20px;
      line-height: 27px;
    }
  }

  .select {
    position: relative;
    float: left;
    margin-right: 5px;

    &.hed {
      width: 100px;
    }

    &.fmly {
      width: 115px;
    }

    select {
      width: 100%;
      height: 30px;
      border: 1px solid #dddddd;
      border-radius: 2px;
      outline: none;
      transition: 0.4s ease;
      background-color: #ffffff;
      appearance: none;
      text-shadow: 0 0 0 #000;
      color: rgba(0, 0, 0, 0);
      position: relative;
      z-index: 99;
      font-size: 14px;
      box-sizing: border-box;
      font-family: inherit;
      padding: 5px 8px;
      color: #202420;
    }

    &:after {
      content: "";
      position: absolute;
      right: 8px;
      top: 13px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #000;
      z-index: 999;
    }
  }
}

.calout {
  background-color: #ffffff;
  border-radius: 5px;
  display: none;
  padding: 12px 15px;
  float: left;
  width: 100%;

  &.open {
    display: block;
  }

  .calfld {
    width: 100%;
    padding: 5px 0;
    p {
      font-weight: 400;
      font-size: 14px;
      color: #3e3e3e;
      margin: 10px 0;

      span {
        font-size: 16px;
        font-weight: 600;
        color: #583692;
      }
    }
  }
}

.chartbox {
  width: 100%;
  float: left;
  border-radius: 12x;
  background-color: #ffffff;

  &.open {
    height: 300px;
    padding: 10px 0;
    display: block;
  }
}
