*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

.slider {
  position: relative;
  width: 566px;
  height: 800px;
  background-color: #f1f1f1;
  overflow: hidden;
  z-index: 1;
  margin: 0 auto;
}

.slider__slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.slider__slide img {
  margin: auto;
  width: 100%;
  display: block;
}

.slider__slide.is-active,
.slider__slide.is-active:before,
.slider__slide.is-active:after {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.button {
  position: absolute;
  bottom: 0px;
  color: #ffffff;
  line-height: 25px;
  border: 2px solid #2eb891;
  background-color: #2eb891;
  font-size: 14px;
  padding: 0 30px;
  outline: none;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  border-radius: 25px;
  z-index: 99999;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

.button.prv {
  left: 0;
}

.button.nxt {
  right: 0;
}



@media only screen and (max-width: 800px) {
  .slider {
    width: 100%;
    height: 100%;
  }

  .button {
    position: fixed;
    bottom: 5px
  }
}
