main {
    width: 100%;
    float: left;
    margin-top: 80px;

    .banner {
        width: 100%;
        padding: 40px 20%;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-weight: 500;
            line-height: 1.8;
            font-size: 32px;
            text-align: center;
            width: 85%;
            margin: 0 7.5%;
        }

        a {
            text-decoration: none;
            background-color: #000000;
            color: #ffffff;
        }
    }

    .breadcrum {
        width: 100%;
        margin-bottom: 20px;

        a {
            text-decoration: none;
            color: #000000;
            font-size: 16px;
            display: inline-block;
            font-weight: 600;
        }

        img {
            font-size: 20px;
            display: inline-block;
            position: relative;
            top: 7px;
        }

        span {
            text-decoration: none;
            color: #000000;
            font-size: 16px;
            display: inline-block;
        }
    }
}