@import url(/Users/gokul-5978/GokulFiles/Me/g-store/css/bootstrap-grid.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f3f6f6;
}

.lf {
  float: left;
}

header {
  width: 100%;
  height: 80px;
  position: fixed;
  border-bottom: 1px solid rgba(225, 226, 230, 0.5);
  background: #fff;
  z-index: 99999;
}

header nav {
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .logo img {
  width: 180px;
  padding: 9px 0;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;
  padding: 20px 25px;
}

header nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

main {
  width: 100%;
  float: left;
  margin-top: 80px;
}

main .banner {
  width: 100%;
  padding: 40px 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .banner h1 {
  font-weight: 500;
  line-height: 1.8;
  font-size: 32px;
  text-align: center;
  width: 85%;
  margin: 0 7.5%;
}

main .banner a {
  text-decoration: none;
  background-color: #000000;
  color: #ffffff;
}

main .breadcrum {
  width: 100%;
  margin-bottom: 20px;
}

main .breadcrum a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  display: inline-block;
  font-weight: 600;
}

main .breadcrum img {
  font-size: 20px;
  display: inline-block;
  position: relative;
  top: 7px;
}

main .breadcrum span {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  display: inline-block;
}

.homcrd {
  margin: 0 0 30px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
}

.templimg img {
  width: 100%;
  margin: 25px 0;
}

.templimg h1 {
  font-size: 22px;
  font-weight: 500;
  margin: 30px 20px;
}

.templimg p {
  font-size: 14px;
  margin: 30px 20px;
  color: #505050;
}

.templimg a {
  background-color: #143601 !important;
  border: 0 !important;
  border-radius: 25px !important;
  padding: 6px 20px !important;
  color: #ffffff !important;
  text-decoration: none !important;
  margin-right: 10px !important;
  font-size: 14px !important;
  opacity: 1 !important;
}

.im-checkout {
  display: inline-block;
}

.pagecnt h1 {
  font-size: 22px;
  font-weight: 500;
  margin: 0 0 20px;
}

.pagecnt h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 20px;
}

.pagecnt p {
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 20px;
  line-height: 1.8em;
  color: #43515c;
}

.pagecnt p b {
  font-weight: 600;
}

.pagecnt b {
  font-weight: 600;
  color: #43515c;
}

.pagecnt ul {
  margin-left: 30px;
}

.pagecnt ul li {
  padding: 5px 0;
  color: #43515c;
  font-size: 14px;
  font-weight: 400;
}

.pagecnt img {
  width: 100%;
}

.pagecnt a {
  background-color: #143601 !important;
  border: 0 !important;
  border-radius: 25px !important;
  padding: 6px 20px !important;
  color: #ffffff !important;
  text-decoration: none !important;
  margin-right: 10px !important;
  font-size: 14px !important;
  opacity: 1 !important;
}

footer {
  border-top: 1px solid #f0f1f2;
  background-color: #ffffff;
  width: 100%;
  float: left;
  padding: 50px 0;
  margin-top: 50px;
}

footer h1 {
  font-size: 16px;
  font-weight: 500;
  color: #20303c;
  margin: 30px 0 10px;
}

footer ul {
  list-style: none;
}

footer ul li {
  padding: 5px 0;
}

footer ul li a {
  color: #43515c;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

footer img {
  width: 150px;
  margin: 30px 0 10px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

footer p {
  font-size: 12px;
  font-weight: 400;
  color: #43515c;
  line-height: 24px;
}

footer .crbtm {
  text-align: center;
  margin-top: 50px;
  border-top: 1px solid #ddd;
  padding: 30px;
}

footer .crbtm p {
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */