body {
    font-family: 'object_sans', Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 65px;
    border-bottom: 1px solid $border;
    padding: 0 20px;
    background-color: #ffffff;

    .logo {
        width: 65px;
        height: 65px;
        float: left;

        img {
            width: 50px;
            height: 50px;
            margin: 7.5px 7.5px 7.5px 0;
        }
    }

    nav {
        float: right;

        ul {
            li {
                padding-left: 30px;
                padding-top: 20px;
                padding-bottom: 20px;
                display: inline-block;

                a {
                    line-height: 23px;
                    font-size: 16px;
                    color: #000;
                    text-decoration: none;
                    font-weight: 400;
                }
            }
        }
    }
}

main {
    width: 100%;
}

.banner {
    width: 100%;
    float: left;

    img {
        width: 100%;
        position: relative;
        bottom: -3px;
    }
}

.bnrbg {
    background-color: #FED600;
}

.tolbg {
    background: #f7971e;
    background: -webkit-linear-gradient(to right, #f7971e, #ffd200);
    background: linear-gradient(to right, #f7971e, #ffd200);
}

.htmlbg {
    background: #bc4e9c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f80759, #bc4e9c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.section {
    width: 100%;
    float: left;

    &.abt {
        margin: 10px 0;
        padding: 2% 0;
        background-color: #f2f2f2;


    }

    &.tools {
        background-color: #f6fcfe;
    }
}

.sechead {
    text-align: left;
    font-size: 45px;
    font-weight: 600;
}

.secprag {
    text-align: left;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 30px;
    color: #51596c;
}

.whdo {
    width: 96%;
    margin: 4% 0;
    background-color: #ffffff;
    box-shadow: 9px 8px 9px rgba(241, 241, 241, 0.521);
    padding: 20px;


    i {
        display: inline-block;
        margin: 0 auto;
        font-size: 24px;
        background-color: #FED600;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        border-radius: 25px;
    }

    h1 {
        font-size: 28px;
        margin-bottom: 15px;
        font-weight: 400;
        padding-top: 20px;
    }

    p {
        font-size: 14px;
        margin-bottom: 15px;
        font-weight: 400;
        line-height: 28px;
        color: #3e3e3e;
        width: 80%;
    }
}




.tollnk {
    background-color: #ffffff;
    text-decoration: none;
    color: #000000;
    text-align: center;
    width: 100%;
    float: left;
    margin: 15px 0;
    padding: 20px;
    border-radius: 5px;

    &:hover {
        box-shadow: 0px 0px 4px 0px #dadada;
    }

    i {
        font-size: 50px;
        display: inline;
        float: left;

        &.html {
            color: #ef642b;
        }

        &.css {
            color: #1870b0;
        }

        &.js {
            color: #f7df1d;
        }

        &.gogl {
            color: #08b425;
        }

        &.wrd {
            color: #1764c0;
        }

        &.resp{
            color:#ed5480
        }
        &.ytube {
            color: #FF0000;
        }

        &.drive {
            &:before {
                color: #0d9660
            }

            &:after {
                color: #f1ba42
            }
        }

        &.drive1:before {
            color: #3178de
        }

        &:nth-child(2) {
            display: inline;
        }
    }

    h2 {
        font-size: 16px;
        line-height: 3;
        width: 100%;
        text-align: left;
        display: block;
        float: left;
    }

    p {
        font-size: 12px;
        line-height: 1.2;
    }

    a {
        background-color: #FED600;
        text-decoration: none;
        color: #000000;
        display: inline-block;
        font-size: 12px;
        padding: 10px;
        border-radius: 2px;
    }
}

.woklnk {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 25px;
    float: left;

    i {
        font-size: 45px;
        float: left;
        width: 100%;
        display: block;
        margin-bottom: 15px;

        &.ico {
            color: #3147ff;
        }

        &.cod {
            color: #fe8100;
        }

        &.teh {
            color: #009bff;
        }
    }

    h2 {

        font-size: 22px;
        font-weight: 400;
        float: left;
        width: 100%;
        display: block;
        margin-bottom: 15px;
    }

    p {
        font-size: 14px;
        float: left;
        width: 100%;
        display: block;
        line-height: 30px;
        color: #51596c;
    }
}

.toptil {
    padding: 5%;

    h1 {
        text-align: center;
        font-size: 45px;
        font-weight: 600;
        margin-bottom: 10px;
        color: #ffffff;
    }

    p {
        text-align: center;
        font-size: 16px;
        line-height: 30px;
        font-weight: 400;
        color: #ffffff;
    }
}

.breadcrum {
    a {
        text-decoration: none;
        color: #000000;
        font-size: 16px;
        display: inline-block;
        font-weight: 600;
    }

    i {
        font-size: 20px;
        display: inline-block;
    }

    span {
        text-decoration: none;
        color: #000000;
        font-size: 16px;
        display: inline-block;
    }
}

.txtcontent {
    p {
        font-size: 14px;
        margin-bottom: 15px;
        font-weight: 400;
        line-height: 28px;
        color: #3e3e3e;
        width: 100%;
    }
}