@import url(/Users/gokul-5978/GokulFiles/Me/Gokul-Work/iamsgokul.github.io/css/bootstrap-grid.css);
@import url(/Users/gokul-5978/GokulFiles/Me/Gokul-Work/iamsgokul.github.io/css/icon.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'object_sans';
  src: url("../fonts/objectsans-heavyslanted.woff2") format("woff2"), url("../fonts/objectsans-heavyslanted.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'object_sans';
  src: url("../fonts/objectsans-slanted.woff2") format("woff2"), url("../fonts/objectsans-slanted.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'object_sans';
  src: url("../fonts/objectsans-heavy.woff2") format("woff2"), url("../fonts/objectsans-heavy.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'object_sans';
  src: url("../fonts/objectsans-regular.woff2") format("woff2"), url("../fonts/objectsans-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.btn {
  background: #3056de;
  border: 1px solid #3056de;
  margin-right: 10px;
  color: #ffffff;
  outline: none;
  text-decoration: none;
  display: inline-block;
}

.btn.sm {
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  padding: 0 32px;
}

.btn.lg {
  height: 60px;
  font-weight: 500;
  font-size: 20px;
  line-height: 55px;
  padding: 0 32px;
}

.probnr {
  padding: 50px 0 50px 20px;
}

.probnr h1 {
  font-size: 45px;
  line-height: 72px;
  margin-bottom: 15px;
  font-weight: 600;
}

.probnr p {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 35px;
  width: 100%;
  color: #3e3e3e;
}

.proimg {
  width: 70%;
  margin: 5% 15%;
}

.youtube-player {
  position: relative;
  padding-bottom: 56.23%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #313131;
  margin: 5px;
}

.youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent;
}

.youtube-player img {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
  -webkit-transition: .4s all;
  transition: .4s all;
}

.youtube-player img:hover {
  -webkit-filter: brightness(75%);
  filter: brightness(75%);
}

.youtube-player .play {
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
  background: url("../images/playbtn.png") no-repeat;
  cursor: pointer;
}

.center {
  text-align: center;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mt30 {
  margin-top: 30px;
}

.mt35 {
  margin-top: 35px;
}

.mt40 {
  margin-top: 40px;
}

.mt45 {
  margin-top: 45px;
}

.mt50 {
  margin-top: 50px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb35 {
  margin-bottom: 35px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb45 {
  margin-bottom: 45px;
}

.mb50 {
  margin-bottom: 50px;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml15 {
  margin-left: 15px;
}

.ml20 {
  margin-left: 20px;
}

.ml25 {
  margin-left: 25px;
}

.ml30 {
  margin-left: 30px;
}

.ml35 {
  margin-left: 35px;
}

.ml40 {
  margin-left: 40px;
}

.ml45 {
  margin-left: 45px;
}

.ml50 {
  margin-left: 50px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mr20 {
  margin-right: 20px;
}

.mr25 {
  margin-right: 25px;
}

.mr30 {
  margin-right: 30px;
}

.mr35 {
  margin-right: 35px;
}

.mr40 {
  margin-right: 40px;
}

.mr45 {
  margin-right: 45px;
}

.mr50 {
  margin-right: 50px;
}

footer {
  width: 100%;
  float: left;
  padding: 20px;
  background-color: #202430;
  margin-top: 40px;
}

footer .flogo {
  width: 50px;
  float: left;
}

footer .fmenu {
  float: right;
}

footer .fmenu li {
  padding: 18.5px 10px;
  float: left;
}

footer .fmenu li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
}

body {
  font-family: 'object_sans', Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  height: 65px;
  border-bottom: 1px solid #f0f0f0;
  padding: 0 20px;
  background-color: #ffffff;
}

header .logo {
  width: 65px;
  height: 65px;
  float: left;
}

header .logo img {
  width: 50px;
  height: 50px;
  margin: 7.5px 7.5px 7.5px 0;
}

header nav {
  float: right;
}

header nav ul li {
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
}

header nav ul li a {
  line-height: 23px;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  font-weight: 400;
}

main {
  width: 100%;
}

.banner {
  width: 100%;
  float: left;
}

.banner img {
  width: 100%;
  position: relative;
  bottom: -3px;
}

.bnrbg {
  background-color: #FED600;
}

.tolbg {
  background: #f7971e;
  background: -webkit-gradient(linear, left top, right top, from(#f7971e), to(#ffd200));
  background: linear-gradient(to right, #f7971e, #ffd200);
}

.htmlbg {
  background: #bc4e9c;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#f80759), to(#bc4e9c));
  background: linear-gradient(to right, #f80759, #bc4e9c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.section {
  width: 100%;
  float: left;
}

.section.abt {
  margin: 10px 0;
  padding: 2% 0;
  background-color: #f2f2f2;
}

.section.tools {
  background-color: #f6fcfe;
}

.sechead {
  text-align: left;
  font-size: 45px;
  font-weight: 600;
}

.secprag {
  text-align: left;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 30px;
  color: #51596c;
}

.whdo {
  width: 96%;
  margin: 4% 0;
  background-color: #ffffff;
  -webkit-box-shadow: 9px 8px 9px rgba(241, 241, 241, 0.521);
          box-shadow: 9px 8px 9px rgba(241, 241, 241, 0.521);
  padding: 20px;
}

.whdo i {
  display: inline-block;
  margin: 0 auto;
  font-size: 24px;
  background-color: #FED600;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 25px;
}

.whdo h1 {
  font-size: 28px;
  margin-bottom: 15px;
  font-weight: 400;
  padding-top: 20px;
}

.whdo p {
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: 400;
  line-height: 28px;
  color: #3e3e3e;
  width: 80%;
}

.tollnk {
  background-color: #ffffff;
  text-decoration: none;
  color: #000000;
  text-align: center;
  width: 100%;
  float: left;
  margin: 15px 0;
  padding: 20px;
  border-radius: 5px;
}

.tollnk:hover {
  -webkit-box-shadow: 0px 0px 4px 0px #dadada;
          box-shadow: 0px 0px 4px 0px #dadada;
}

.tollnk i {
  font-size: 50px;
  display: inline;
  float: left;
}

.tollnk i.html {
  color: #ef642b;
}

.tollnk i.css {
  color: #1870b0;
}

.tollnk i.js {
  color: #f7df1d;
}

.tollnk i.gogl {
  color: #08b425;
}

.tollnk i.wrd {
  color: #1764c0;
}

.tollnk i.resp {
  color: #ed5480;
}

.tollnk i.ytube {
  color: #FF0000;
}

.tollnk i.drive:before {
  color: #0d9660;
}

.tollnk i.drive:after {
  color: #f1ba42;
}

.tollnk i.drive1:before {
  color: #3178de;
}

.tollnk i:nth-child(2) {
  display: inline;
}

.tollnk h2 {
  font-size: 16px;
  line-height: 3;
  width: 100%;
  text-align: left;
  display: block;
  float: left;
}

.tollnk p {
  font-size: 12px;
  line-height: 1.2;
}

.tollnk a {
  background-color: #FED600;
  text-decoration: none;
  color: #000000;
  display: inline-block;
  font-size: 12px;
  padding: 10px;
  border-radius: 2px;
}

.woklnk {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 25px;
  float: left;
}

.woklnk i {
  font-size: 45px;
  float: left;
  width: 100%;
  display: block;
  margin-bottom: 15px;
}

.woklnk i.ico {
  color: #3147ff;
}

.woklnk i.cod {
  color: #fe8100;
}

.woklnk i.teh {
  color: #009bff;
}

.woklnk h2 {
  font-size: 22px;
  font-weight: 400;
  float: left;
  width: 100%;
  display: block;
  margin-bottom: 15px;
}

.woklnk p {
  font-size: 14px;
  float: left;
  width: 100%;
  display: block;
  line-height: 30px;
  color: #51596c;
}

.toptil {
  padding: 5%;
}

.toptil h1 {
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #ffffff;
}

.toptil p {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
}

.breadcrum a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  display: inline-block;
  font-weight: 600;
}

.breadcrum i {
  font-size: 20px;
  display: inline-block;
}

.breadcrum span {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  display: inline-block;
}

.txtcontent p {
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: 400;
  line-height: 28px;
  color: #3e3e3e;
  width: 100%;
}

.labtool {
  width: 100%;
  float: left;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 5px;
  box-sizing: border-box;
}

.labtoolfield {
  position: relative;
  width: 100%;
  float: left;
}

.labtoolfield input[type="text"],
.labtoolfield input[type="password"],
.labtoolfield input[type="number"] {
  width: 100%;
  height: 35px;
  padding: 5px;
  font-size: 15px;
  background-color: #fff;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #dddddd;
  outline: none;
  font-size: 14px;
  line-height: 18px;
  border-radius: 2px;
  font-family: inherit;
  box-sizing: border-box;
  padding: 8px;
  color: #202420;
}

.labtoolfield textarea {
  width: 100%;
  height: 350px;
  margin-bottom: 10px;
  border: 1px solid #dddddd;
  resize: none;
  border-radius: 2px;
  outline: none;
  font-family: inherit;
  font-size: 14px;
  line-height: 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px;
  color: #202420;
  font-family: monospace;
}

.labtoolfield select {
  width: 100%;
  height: 35px;
  border: 1px solid #dddddd;
  border-radius: 2px;
  padding: 5px;
  outline: none;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #ffffff;
  text-shadow: 0 0 0 #000;
  color: rgba(0, 0, 0, 0);
  position: relative;
  z-index: 99;
  margin-bottom: 10px;
  font-family: inherit;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit;
  padding: 8px;
  color: #202420;
}

.labtoolfield select:after {
  content: '';
  position: absolute;
  right: 15px;
  top: 15px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #000;
  z-index: 999;
}

.labtoolfield textarea:focus,
.labtoolfield input[type="text"]:focus,
.labtoolfield input[type="password"]:focus,
.labtoolfield input[type="number"]:focus {
  border: 1px solid #3056de;
}

.labtoolfield input[type="button"],
.labtoolfield button,
.labtoolfield input[type="reset"],
.labtoolfield a {
  border: 0;
  padding: 10px 20px;
  margin: 10px 10px 10px 0;
  border-radius: 2px;
  font-size: 16px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.labtoolfield input[type="button"].submit,
.labtoolfield button.submit,
.labtoolfield a.submit {
  background-color: #3056de;
  color: #ffffff;
}

.labtoolfield input[type="button"].submit:hover,
.labtoolfield button.submit:hover,
.labtoolfield a.submit:hover {
  background-color: #3056de;
}

.labtoolfield input[type="button"].reset,
.labtoolfield button.reset,
.labtoolfield input[type="reset"].reset,
.labtoolfield a.reset {
  background-color: #ececec;
  color: #222222;
}

.labtoolfield input[type="button"].reset:hover,
.labtoolfield button.reset:hover,
.labtoolfield input[type="reset"].reset:hover,
.labtoolfield a.reset:hover {
  background-color: #ececec;
}

.infomsg {
  width: 100%;
  float: left;
  font-size: 14px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffe7b1;
  border: 1px solid #f3a800;
  border-radius: 4px;
  margin: 20px 0;
}

.labtoolcheckbox {
  position: relative;
  width: 22px;
  height: 22px;
  display: inline-block;
  float: left;
}

.labtoolcheckbox label {
  cursor: pointer;
  width: 22px;
  height: 22px;
  display: block;
}

.labtoolcheckbox label:before,
.labtoolcheckbox label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}

.labtoolcheckbox label:before {
  width: 18px;
  height: 18px;
  border: 2px solid #8c8c8c;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.labtoolcheckbox input[type="checkbox"] {
  outline: 0;
  z-index: 9999;
  opacity: 0;
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin: 0;
}

.labtoolcheckbox input[type="checkbox"]:checked + label:after {
  -webkit-transform: scaleX(-1) rotate(135deg);
          transform: scaleX(-1) rotate(135deg);
  top: 10px;
  left: 4px;
  width: 5px;
  height: 10px;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  border-right: 2px solid #8c8c8c;
  border-top: 2px solid #8c8c8c;
  -webkit-animation: zinkchanim;
          animation: zinkchanim;
  -webkit-animation-duration: 200ms;
          animation-duration: 200ms;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.labtoolchspan {
  font-size: 14px;
  color: #333333;
  float: left;
  margin: 3px 20px 3px 5px;
  display: inline-block;
}
/*# sourceMappingURL=style.css.map */